/* TODO: Use CSS Flexbox to style the solar system container as a column, aligning the child planet elements vertically */

/* TODO: Style the planets by adding a border with a 2-pixel width solid gold line and padding of 10 pixels */

.solar-system {
    display: flex;
    flex-direction: column;
    
}

.planet {
    border: 2px solid gold;
    padding: 10px;
}