body {
    color: #FFFFFF;
    background-color: #2B2B2B;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

h1 {
    font-size: 24px;
    text-decoration: overline underline; /* Notice how we added both overline and underline to the heading */
    text-decoration-color: lightgreen;
    text-decoration-style: dotted;
}

span {
    font-weight: bolder;
    text-decoration: line-through; /* This is another decoration that strikes through the text */
}



span .assignment4 {
    color: lemonchiffon;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: lightgray;
    text-decoration-style: wavy;
}



#moon {
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #8A8A8A;
    text-decoration-style: dotted;
}

#mars {
    color: #E35D5B;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
}
