/* assignment 1 */
.space-menu > .space-hidden {
  display: none;
}

@media (min-width: 400px) {
  .space-menu > .space-hidden {
    display: block; 
  }
}

/* assignment 2 */

/* Hide the menu initially */
.menu-hidden {
  display: none;
}

@media (min-width: 400px) {
  .menu-hidden.menu-show {
    display: block;
  }
}

/* assignment 3*/

@media (min-width: 400px) {
  .orbit-hidden {
    display: block;
  }
}

/* assignment 4 */

.menu-hidden1 {
  display: none;
}

@media (min-width: 400px) {
  #cosmos-links {
    display: block;
  }
}
