/* assignment 1 */
@media screen and (min-width: 301px) {
    .starry-info {
        background-color: skyblue;
        padding: 30px;
        font-size: 2em;
        color: white;
        text-align: center;
    }
}

@media screen and (max-width: 300px) {
    .starry-info {
        background-color: navy;
        padding: 15px;
        font-size: 1em;
        color: lightgray;
        text-align: center;
    }
}

/* assignment 2 */

@media screen and (orientation: landscape) {
    .cosmos-info {
        background-color: darkslateblue; /* Like a vast galaxy */
        color: white;
    }
}

@media screen and (orientation: portrait) { /* Logical error can you spot it, to see lavender color for portrait orientation */
    .cosmos-info {
        background-color: lavender; /* Like a subtle nebula */
        color: black;
    }
}

/* assignment 3 */

/* For wider screens, we use a starry night theme */
@media screen and (min-width: 401px) {
    .space-mission {
        background-color: midnightblue; /* Deep space effect */
        color: white; /* Stars shining on the dark */
        padding: 30px;
        text-align: center;
    }
}

/* TODO: For smaller screens, make the cosmos look as it should */
@media screen and (max-width: 400px) {
    .space-mission {
        background-color: lightcyan; /* Dawn's early light */
        color: navy; /* The cosmos beyond the sky */
        padding: 15px;
        text-align: center;
        /* TODO: Set appropriate padding '15px' and centered text alignment */
    }
}

/* assignment 4 */
/* TODO: Write a media query for medium-sized screens with a min-width of 481px and a max-width of 550px. */
@media screen and (min-width: 481px) and (max-width: 550px) {
    .cosmic-message {
        font-size: 25px;
        text-align: right;
    }
    /* TODO: Select the class that holds our cosmic message 'cosmic-message'. */
    /* TODO: Set a font size to 25px that improves readability on medium screens. */
    /* TODO: Adjust the text alignment to 'right' */
}